.home-box{
    display: flex;
    justify-content: center;
}

.feed-home{
    margin-right: 40px;
}

.Home{
    width: 70vw;
    max-width: 400px;
    min-width: 300px;
    align-self: center;
    text-align: center;
    margin-bottom: 20px;
}

.add-question-section{
    margin-left: 30px;
    margin-right: 60px;
}


@media only screen  and (max-width: 500px){
    .Home{
        width : 95vw;
    }

    .add-question-section{
        display: none !important;
    }

    .feed-home{
        display: none !important;
    }
}