

.firebaseui-container {
    background-color: #fff;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    color: rgba(0,0,0,.90) !important;
    direction: ltr;
    font: 16px Roboto,arial,sans-serif;
    margin: 0 auto;
    max-width: 360px;
    overflow: visible;
    position: relative;
    text-align: left;
    width: auto;
}

.mdl-card {
    display: flex;
    background-color: transparent !important;
    box-shadow: none !important;
    flex-direction: column;
    font-size: 16px;
    font-weight: 400;
    min-height: 200px;
    overflow: hidden;
    width: 30px;
    z-index: 1;
    position: relative;
    background: #fff;
    border-radius: 2px;
}

.mdl-card:before{
	content: 'loading...';
	font-size: 1.1rem;
	vertical-align: middle;
	text-align: center;


}

.mdl-progress>.bar {
	display: none !important;
}