.quest-box{
    background-color: white;
    box-sizing: border-box;
    text-align: start;
    padding: 8px;
    color: rgb(82, 81, 81);
    margin-top: 15px;
    box-shadow: 0 1px 5px 0 #00000085;
}

h3{
    margin: 0;
}

.comment-link{
    margin-top: 3px;
    margin-bottom: 6px;
    cursor: pointer;
}

.add-comment{
    margin-left: auto;
    cursor: pointer;
}

.up-down{
    margin-top: 2%;
    display: flex;
    flex-direction: row;
}

.up-down p{
    margin: 0;
    margin-left: 2%;
    margin-right: 2%;
}

.view-answer{
    margin-left: 10%;
    cursor: pointer;
}


.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Old versions of Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome, Edge, Opera and Firefox */
    -webkit-tap-highlight-color: transparent;
  }

  .profile-box{
      display: flex;
      flex-direction: row;
      margin-bottom: 5px;
  }

  .profile-box p{
      font-size: 1rem;
      margin-left: 6px;
      margin-top: 0;
      margin-bottom: 0;
      color: rgb(68, 68, 68);
      font-weight: bold;
  }

  .profile-box .date{
      margin-bottom: 0;
      font-size: .8rem;
      color: darkgrey;
      font-weight: 500;
  }

  .up-down-arrow{
      width: 24px;
      height: 24px;
  }

  .icon-svg{
      stroke: #666;
      stroke-width: 1.5;
      fill: none;
      fill-rule: evenodd;
      stroke-linejoin: round;
  }

  svg{
      cursor: pointer;
  }

  .upvoted{
      stroke: #0962ffba !important;
  }

  .downvoted{
      stroke: #d60707ba !important;
  }